node_modules/
.next/
out/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.tsbuildinfo
.git/
.gitignore
*.md
tests/
coverage/
.eslintcache
.turbo/
